.contact-main {
  box-sizing: border-box;
  padding: 0 15%;
}
.page-header {
  text-align: center;
}
#form {
  padding: 50px;
  box-sizing: border-box;
}
.form_area {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
textarea {
  resize: none;
}
.form_area .input-group {
  width: 48%;
}
.panel-body .input-group-addon {
  background: linear-gradient(to right, #ff3c6f, #6956df);
  color: #ffffff;
}

.panel-body .input-group {
  margin-bottom: 20px;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  color: #ffffff;
}
.btns button {
  width: 300px;
}
.btns button:last-child {
  margin-left: 50px;
}
.ruzhu {
  background-color: #ff3c6f;
}
.form_area .username-require {
  background: #ffffff;
}